/* HEADER STYLE */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  padding-top: 65px;
  height: 100%;
}

a {
  text-decoration: none;
}


.header-background {
  width: 100%;
  /* Adjust as per the actual width of the header */
  height: 70px;
  /* Adjust as per the actual height of the header */
  background-color: lightgray;
  /* Match the background color */
  transition: all 0.3s;
  /* Smooth transition for sticky effect */
}

.header {
  width: 1100px;
  /* Adjust as per the actual width of the header */
  width: 100%;
  height: 70px;
  /* Adjust as per the actual height of the header */
  background-color: lightgray;
  /* Match the background color */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  /* Add padding on the sides */
  margin: auto;
}

.container {
  max-width: 100%;
  /* This prevents any container from being wider than the viewport */
}

.logo {
  font-size: 24px;
  /* Adjust the size as needed */
  font-weight: bold;
}

.search-bar input {
  width: 460px;
  /* Adjust the width as needed */
  padding: 10px;
  margin: 0 150px;
  border-radius: 1px;
  border-color: black;
}

.user-info {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 15;
}

.user-info .user-icon,
.user-info .language {
  margin-left: 20px;
  /* Space between user and language */
}

.user-info .language {
  border-left: 1px solid black;
  /* Separator line */
  padding-left: 20px;
}

/* Remove default styles */
.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid black;
  color: black;
}

Add interactivity .search-bar input:focus {
  border: 1px solid #ccc;
}

/* Style the cursor */
.search-bar input {
  caret-color: gray;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.header-background,
.navbar-background {
  position: fixed;
  top: 0;
  /* Align at the top */
  bottom: 0;
  width: 100%;
  z-index: 10;
  /* Ensure it stays above other content */
}

/* NAVIGATION BAR */
.navbar-background {
  top: 70px;
  /* Position below the header */
  width: 100%;
  /* Adjust as per the actual width of the navigation bar */
  height: 40px;
  /* Adjust as per the actual height of the navigation bar */
  background-color: #f1f1f1;
  /* Match the background color */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
  /* Ensure it stays above other content */
}

.navbar {
  width: 100%;
  /* Ensure navbar spans full width */
  height: 40px;
  /* Set a fixed height for your navbar */
  background-color: #f1f1f1;
  /* Background color */
  display: flex;
  /* Use flexbox to arrange children */
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
  padding: 0 20px;
  /* Adjust padding as needed */
  margin: auto;
  /* Center the navbar */
  text-align: center;
  z-index: 5;
  /* Ensure it stays above other content */
}


/* Dropdown Styles */
.dropdown {
  position: relative;
  /* Position the dropdown relative to its parent */
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  left: 0;
  /* Align to the left edge of the parent menu item */
  top: 40px;
  /* Adjust this value to match the height of your navbar */
  min-width: 160px;
  /* Adjust this value to match the width of the menu item if necessary */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  /* Align text to the left */
}

.dropdown:hover .dropdown-content {
  display: block;
}


.menu-item {
  height: 40px;
  max-width: 150px;
  font-size: 10px;
  /* Adjust the size as needed */
  color: #000;
  padding: 10px 12px;
  /* Adjust the padding as needed */
  cursor: pointer;
  /* vertical-align: middle; */
  justify-content: center;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  text-wrap: nowrap;
}


/* Align 'ALL CATEGORIES' text to the cente */
.menu-item.dropdown {
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  /* margin-left: auto; Pushes the special item to the right */
}

.menu-item.special {
  font-weight: bold;
  background-color: red;
  color: #fff;
  height: inherit;
  width: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  /* margin-left: auto;Pushes the special item to the right */
  padding-top: 15px;

}

.menu-item.special:hover {
  font-weight: bold;
  background-color: #333;
  color: #fff;

}

.menu-item:not(.special):hover {
  background-color: #ddd;
  /* Hover effect for non-special items */
}

/* Ensure that the dropdown arrow is aligned with the text */
.menu-item::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
}

/* Reset list styles */
.navbar {
  list-style: none;
}

/* Inline-block for horizontal layout */
.navbar .menu-item {
  display: inline-block;
}

.login-dropdown {
  display: none;
  position: absolute;
  top: 30px;
  /* Position right below the user-info */
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 15px;
  border-radius: 5px;
}

.login-form {
  margin: 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-form button:hover {
  background-color: #333;
}

.social-login button {
  display: flex;
  /* Uses flexbox for alignment */
  align-items: center;
  /* Aligns items vertically */
  justify-content: center;
  /*Centers the content horizontally*/
  width: 100%;
  padding: 10px;
  margin-right: 4%;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}

.social-login button:last-child {
  margin-right: 0;
}

/* Styles for the User icon that triggers dropdown */
.user-icon {
  cursor: pointer;
}

/* Style for Forgot Password and Register Now links */
.link-text {
  display: block;
  /* Makes the link fill the container */
  text-align: center;
  /* Centers the text */
  text-decoration: none;
  /* Removes the underline from the link */
  margin: 5px 0;
  /* Adds space above and below the link */
  color: #333;
  /* Sets the text color */
}

/* Style for User Image */
.user-icon img {
  border-radius: 50%;
  /* Circular image */
  object-fit: cover;
  /* Ensures the image covers the area properly */
}

/* User Dropdown Styles */
.user-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 30px;
  /* Adjust as needed */
  right: 0;
  /* Align to the right of the user icon */
  min-width: 160px;
  /* Adjust as needed */
}

.user-dropdown a {
  color: black;
  padding: 10px 0;
  text-decoration: none;
  display: block;
  text-align: center;
}

.user-dropdown a:hover {
  background-color: #ddd;
}



/* Breadcrumb styles */
.breadcrumb-container {
  margin-bottom: 30px;
  background-color: #fff;
  text-align: left;
  margin-left: 140px;
}

.breadcrumb-container a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

/* Category title styles */
.category-title {
  background-color: #fff;
  color: #333;
  text-align: left;
  margin-left: 150px;
  padding: 8px 0;
  font-size: 30px;
  font-weight: bold;
}

/* General Styles */
.content-container {
  max-width: 1400px;
  margin: auto;
}

/* Welcome Section Styles */
.welcome-section {
  text-align: center;
  margin: 50px 0;
}

.welcome-section .user-name {
  font-weight: normal;
}


.profile-picture {
  padding: 20px 0;
}

.shop-name{
  margin-bottom: 12px;
}


.profile-picture img {
  display: block;
  margin: 0 auto;
  width: 150px;
  /* Adjust as needed */
  height: 150px;
  /* Adjust as needed */
  border-radius: 50%;
  background-color: #f2f2f2;
  /* Placeholder background color if no image is found */
}

.seller-username {
  display: block;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  padding: 5px 5px;
  border-width: 1px;
  border-color: #333;
  border-style: solid;
  border-radius: 25px;
  width: 140px;
  margin: auto;
  margin-bottom: 10px;
}

.seller-social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.seller-social-icons i {
  margin-left: 7px;
  margin-right: 10px;
  margin-top: 20px;
  height: 20px;
  /* Adjust the size as needed */
  text-decoration: none;
  /* Removes underline from links */
}

/* Reviewed Products Section Styles */
.reviewed-products-section {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #eaeaea;
}

.reviewed-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.reviewed-products-header h2 {
  margin: 0;
  font-size: 24px;
}

.products-count {
  font-size: 18px;
}

.add-review-btn {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-review-btn:hover {
  background-color: #333;
}

/* Products Container Styles */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
}

/* Add your product card styles here */



.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  /* Adjust padding as necessary */
  gap: 20px;
  /* This will create space between the cards */
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Ensures the price is pushed to the bottom */
  flex: 0 0 20%;
  /* flex-grow: 0, flex-shrink: 0, flex-basis: 25% */
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
  margin-bottom: 5px;
  /* Space between rows */
}

.image-container {
  width: 100%;
  height: 250px; /* Adjust height as needed */
  position: relative;
  overflow: hidden; /* To handle images larger than the container */
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will ensure the image covers the whole area */
}

.category {
  font-size: 14px;
  color: #fff;
  background-color: red;
  padding: 5px 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.text-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push the price to the bottom */
  flex-grow: 1; /* Grow to take up available space */
}

.category,
.title,
.brand {
  margin: 5px 0;
}

.price {
  display: flex;
  justify-content: space-between;
  /* This will push the prices to the left and the discount to the right */
  align-items: center;
}

.price-details {
  display: flex;
  align-items: center;
  /* This ensures that the original price and sale price are aligned on the same line */
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 5px;
  /* Space between the original price and the sale price */
}

.sale-price {
  color: #333;
  font-weight: bold;
}

.discount {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  padding: 5px 5px;
  border-width: 1px;
  border-color: #333;
  border-style: solid;
  /* No need for margin-left here as it will now be aligned to the right */
}


/* Pagination styles */
.pagination-container {
  text-align: center;
  margin-top: 30px;
}

.pagination-arrow,
.pagination-number {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-number:hover,
.pagination-arrow:hover {
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
}

.pagination-number.active {
  color: #fff;
  background-color: red;
  border: 1px solid #ff3e00;
}

.pagination-ellipsis {
  display: inline-block;
  margin: 0 5px;
}







/* FOOTER STYLE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.content {
  flex: 1;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  margin-top: 43px;
  width: 100%;
  background-color: #f2f2f2;
  /* Your desired background color */
  z-index: 1;
  /* Ensures the footer is above other content */
  /* height: 300px; */
}

/* Style for the footer's inner content */
.footer-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 50px;
  /* Adjust this value to fit your content */
  min-height: 150px;
  /* Or whatever height you prefer for your footer */
}

/* Ensure the very bottom part of the footer, likely with copyright and payment logos, also sticks to the bottom */
.footer-bottom {
  /* position: fixed; */
  display: flex;
  left: 0;
  /* bottom: 0; */
  width: 100%;
  background-color: white;
  /* Or any other color */
  color: black;
  /* Text color */
  z-index: 1;
  padding: 10px 20px;
  text-align: center;
  /* This centers the text horizontally */
  box-sizing: border-box;
}

/* The following rule will push the .footer-bottom up to sit on top of .footer */
.footer-bottom {
  bottom: 0px;
  /* Adjust this value to the height of your .footer */
  display: flex;
  justify-content: space-between;
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.footer-section h3 {
  margin-bottom: 0.5rem;
}

.footer-section ul,
.footer-section form {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li a,
.footer-section form input,
.footer-section form button {
  color: #333;
  text-decoration: none;
  line-height: 1.6;
  border: none;
  background: none;
  padding: 8px;
  margin: 2px 0;
  vertical-align: top;
}

.footer-section form button {
  color: black;
  text-transform: uppercase;
}

.footer-section form input {
  color: #333;
}


.footer-bottom .copy {
  text-align: left;
}

.footer-bottom .payment-logos img {
  height: 20px;
  /* Adjust as necessary for your logos */
}

.social-icons {
  display: flex;
}

.social-icons i {
  margin-left: 7px;
  margin-right: 10px;
  margin-top: 20px;
  height: 20px;
  /* Adjust the size as needed */
  text-decoration: none;
  /* Removes underline from links */
}

.subscribe-container {
  background-color: #f2f2f2;
  /* Background color */
  padding: 20px;
  /* Padding around the content */
  width: 300px;
  /* Width of the subscribe container */
  box-sizing: border-box;
  /* Ensures padding doesn't add to the width */
  border-radius: 5px;
  /* Rounded corners of the container */
}

.subscribe-container h2 {
  text-align: left;
  font-size: 1.2em;
  /* Size of the title */
  margin-bottom: 5px;
  /* Space between title and paragraph */
}

.subscribe-container p {
  font-size: 0.9em;
  /* Size of the paragraph */
  margin-bottom: 20px;
  /* Space between paragraph and form */
}

.subscribe-form {
  display: flex;
}

.subscribe-form input[type="email"] {
  flex-grow: 1;
  /* Allows input to fill the space */
  padding: 10px;
  border: none;
  /* No border for input */
  margin-right: -1px;
  /* Overlap border with button */
}

.subscribe-form button {
  background-color: red;
  /* Background color for the button */
  color: #fff;
  /* Text color for the button */
  border: none;
  /* No border for button */
  padding: 10px 20px;
  cursor: pointer;
  /* Changes cursor to pointer */
  border-radius: 0 5px 5px 0;
  /* Rounded corners on the right side */
}

/* Additional styles for focus and hover states */
.subscribe-form input[type="email"]:focus,
.subscribe-form button:hover {
  outline: none;
  /* Removes outline on focus */
  background-color: #333;
  /* Background color on hover for button */
}